*{
    padding: 0;
    margin: 0;
    font-family: 'DM Sans';
}
body{
    padding: 20px 0px 0px 40px;
}
section{
    height: 580px;
    width: 300px;
    background-image: url(recursos1/fondoVentana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}
#cuadro-contenido{
    padding: 25px;
}
#cuadro-imagen{
    display: flex;
    justify-content: center;
    padding: 45px 0px 10px 0px;
}
#cuadro-imagen img{
    width: 75px;
    border-radius: 50%;
}
h1{
    text-align: center;
    font-size: 14px;
}
p{
    text-align: center;
    font-size: 12px;
    padding: 4px 15px 0px 15px;
}
#cuadro-botones{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}
button{
    background-color: white;
    padding: 14px 0px 14px 0px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 4px 3px 0px #80a0c9;
}
#cuadro-enlaces{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding-top: 25px;
}
a img{
    width: 27px;
    transition: transform 0.3s ease-in-out;
}


